
@media (max-width: 1920px) {
  
  body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .landinpage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height: 0;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
  }
  .video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height: 100vh;
    position: absolute;

    top: 0;
    z-index: -1;
    object-fit: cover;
    background-color: black;
    position: fixed;
  }
  .overlay {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    height: 100.5%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    position: absolute;
  }

  .top-nav {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00baf0;
    background: linear-gradient(to left, rgb(4, 4, 4), rgb(54, 53, 52));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    height: 60px;
    width: 100%;
    padding: 1em;
    top: 0%;
    position: fixed;
  }

  .menu {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 1;
    padding: 1em;
  }

  .liDes {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    color: white;
    padding: 1em;
  }
  .liDes:hover {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    opacity: 0.5;
  }

  .menu > li {
    text-decoration: none;
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    text-decoration: none;
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button {
    right: 10%;
    top: 50%;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .navbar-logo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    width: 7px;
    justify-content: left;
  }
  .navbar-logo img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 52.5%;
    height: auto;
    justify-content: left;

    padding: 9%;
  }
  .a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: smaller;
  }
  .art {
    position: relative;
    display: flex;
    padding: 19%;
    width: 50%;
    top: 50%;
    left: -40%;
    
  }
  .article {
    padding: 1%;
    width: 96%;
    position: absolute;
   
    top: 10%;
    left: 25%;
  }
  .arti {
    position: relative;
    display: flex;
    padding: 19%;
    width: 50%;
    top: 50%;
    left: -40%;
    
  }
  .article1 {
    padding: 1%;
    width: 96%;
    position: absolute;
    top: -10%;
    left: 0%;
  }
  .title{
    font-size: 400%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #fff;
    font-weight: bolder ;
    
  }
  .parrafo{
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #fff;
    text-align: justify;
    line-height: 2.5;
  }
  .a{
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    transition: 1s;
   
    top: 120%;
    left: 6.5%;
  }

  .a:hover{
    opacity: 0.8;
    color: black;
  }
  .a1{
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    transition: 1s;
    position: relative;
    top: 100%;
    left: 6.5%;
    text-decoration: none;
    font-weight: bolder;
  }
  
  .a1:hover{
    opacity: 0.8;
    color: black;
  }
  .field {
    margin-bottom: 10px;
  }
  
  .field label {
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    display: block;
    font-weight: bolder;
    line-height: 3.5;
    color: #f2f2f2;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    line-height: 2.5;
    border-radius: 1%;
    border-style: none;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: white;
    color: #000000;
    line-height: 1.9;
    position: absolute;
    left: 8%;
    top:109%;
    border: none;
    transition: 1s;
    cursor: pointer;
    
  }
  input[type="submit"]:hover {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(63, 63, 63));
    color: white;
  }
  img{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  .contenedor-imagen {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 400ms;
    object-fit: contain;
  }
  .space {
    position: absolute;
    display: flex;
    
    left:0%;
    top: 20%;
    background-color: none;
    overflow: hidden;
    margin: 30px;
    cursor: pointer;
    transition: 10s;
    transition: 400ms;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .space2 {
  position: absolute;
    width: 300px;
    height: 30px;
    margin: 2px;
    padding:2%;
    top:85%;
    left: 20%;
    color: rgb(0, 0, 0);
    border-radius: 1.5%;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to left, rgb(65, 189, 83), rgb(6, 191, 123));
    transition: 1s;
    cursor: pointer;
    
  }
  .space2:hover{
    opacity: 0.8;
    padding:10px;
    background: linear-gradient(to left, rgb(252, 252, 252), rgb(161, 162, 162));

    
  }
 


    input[type=number] {
      width: 50%;
      position: absolute;
      top: 40%;
      left: 20%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('searchicon.png');
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      transition: width 0.4s ease-in-out;
    }
.but{
  position: absolute;
  top:40%;
  left: 72%;
  background: linear-gradient(to left, rgb(5, 60, 227), rgb(189, 16, 174));
  color: white;
  padding: 0.5%;
  width: 10%;
  font-size:larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.but:hover{
  background: linear-gradient(to left, rgb(250, 7, 161), rgb(189, 16, 174));
}
.espacio{
  position: absolute;
  padding: 10%;
  background: linear-gradient(to left, rgb(250, 7, 161), rgb(189, 16, 174));
  top: 50%;
  left:20%;
  width: 30%;
  height: 5%;
}
.espacio:hover{
  background: linear-gradient(to left, rgb(1, 163, 93), rgb(4, 142, 144));
}
.imga{
  position: absolute;
  margin:10px auto;
  border-radius:5px;
  border: 1px solid #999;
  padding:13px;
  width:220px;
  height:220px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background: linear-gradient(to left, rgb(10, 214, 255), rgb(10, 243, 169));
  background-size: cover;
  top: 1%;
  left: 70%;
  
  

}
.imga:hover{
  background: linear-gradient(to left, rgb(250, 7, 161), rgb(189, 16, 174));
}
.h1First{
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  top: 20%;
  left:5% ;
  display: flex;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: "Courier New";
  font-size: 300%;
  border-right: 0.15em solid #18bdec;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
.h1Second{
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  top: 40%;
  left:5% ;
  display: flex;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 120%;
  font-family: "Courier New";
  border-right: 0.15em solid #18bdec;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }

}
.parr{
  position: absolute;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top:30%;
  left: 20%;
  font-size: xx-large;
}
}